{% extends "layout.html" %}

{% block content %}


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ 'adminsignup'|trans}}</h1>
                <p>{{'admintext1'|trans}}</br>{{'admintext2'|trans}}</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">{{'adminsignup'|trans}}</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="registration" class="container">

    <ul class="portfolio-filter">
        <li><a class="btn btn-default {% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}" href="{{ app.url_generator.generate('admin') }}" >{{'admin'|trans}}</a></li>
        <li><a class="btn btn-default {% if app.request.attributes.get('_route') == 'adminassign' %}active{% endif %}" href="{{ app.url_generator.generate('adminassign') }}" >{{'Assign'|trans}}</a></li>
        <li><a class="btn btn-default {% if app.request.attributes.get('_route') == 'adminsignup' %}active{% endif %}" href="{{ app.url_generator.generate('adminsignup') }}" >{{'Create admin accout'|trans}}</a></li>
    </ul>


    {% if signup_ok == false %}
    <form class="center" role="form" method="POST" action="" >


        <fieldset class="registration-form">
            {{ form_widget(form) }}
            <input type="submit" class="form-control" value="{{ 'create_account'|trans }}" />
        </fieldset>
    </form>

    {% else %}
    <p class="alert alert-success">{{ 'signup_admin_ok'|trans }}</p>
    {% endif %}
</section><!--/#registration-->

{% endblock %}