{% extends "layout.html" %}

{% block content %}


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ 'login'|trans }}</h1>
                <p>{{ 'logintext1'|trans }} {{ 'logintext2'|trans }}</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">{{ 'Home'|trans }}</a></li>
                    <li class="active">{{ 'login'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="registration" class="container">
    <form class="center" role="form" method="POST" action="" >



        <fieldset class="registration-form">
            {{ form_widget(form) }}
            <input type="submit" class="form-control" value="{{ 'connexion'|trans }}" />
            <br />
            <p>
                <a href="{{ app.url_generator.generate('signup') }}" >{{'Create_account'|trans}}</a>
            </p>
        </fieldset>
    </form>
</section><!--/#registration-->

{% endblock %}