{% extends "layout.html" %}

{% block content %}


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Registration</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="registration" class="container">
    <h3>{{orders[0].prénomUtilisateur}} {{orders[0].nomUtilisateur}}</h3>

    <a href="{{ app.url_generator.generate('order') }}"><button class="btn btn-primary pull-right">{{ 'make_a_reservation' |trans}}</button></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'reference'|trans }}</th>
            <th>{{ 'location_time'|trans }}</th>
            <th>{{ 'departure'|trans }}</th>
            <th>{{ 'arrival'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th>{{order.slug}}</th>
                <td scope="row">{{ order.datetimeReservation|localizeddate('full', 'medium', app.request.locale)|capitalize  }}</td>
                <td>{{order.Adresse}} {{order.Ville}} {{order.codePostal}}</td>
                <td>{{order.AdresseDest}} {{order.VilleDest}} {{order.codePostalDest}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


</section><!--/#registration-->





{% endblock %}